/* baloo-bhaina-2-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Baloo Bhaina 2';
    font-style: normal;
    font-weight: 400;
    src: url('./asset/fonts/baloo-bhaina-2-v29-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* baloo-bhaina-2-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Baloo Bhaina 2';
    font-style: normal;
    font-weight: 500;
    src: url('./asset/fonts/baloo-bhaina-2-v29-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* baloo-bhaina-2-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Baloo Bhaina 2';
    font-style: normal;
    font-weight: 700;
    src: url('./asset/fonts/baloo-bhaina-2-v29-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
    margin: 0px;
    box-sizing: border-box;
}

.nav-bar {
    display: flex;
    justify-content: center;
    width: 375px;
    background: rgba(69, 1, 255, 0.267);
    padding: 6px 10px;
    font-family: 'Baloo Bhaina 2';
    font-style: normal;
    font-weight: 400;
}

.nav-bar>img {
    height: 30px;
    width: 31px;
    margin-top: 15px;
}

h2 {
    font-family: 'Baloo Bhaina 2';
    font-style: bold;
    font-weight: 400;
    justify-content: center;
    display: flex;

}

#main-section{
    background-color: rgba(102, 104, 80, 0.274);
}